
/* COMPOSITION */

body {
    font-family: 'Libre Baskerville', Georgia, serif;
    font-size: .875em;
    margin: 0;
    padding: 0;
    font-size: 16px;
    letter-spacing: .01em;
    color: #111111;
}

.container {
    position: relative;
    width: 50em;
    padding: 0 40px 40px 40px;
    margin: 0px auto;
    top: -50px;
}

.header-bar {
    width: 100%;
    height: 1em;
    background-color: #fcdb1e;
}

.bio-block {
    align-items: baseline;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.illo {
    height: 200px;
    padding: 0 20px 20px 0;
    z-index: -1;
    
}

.artie img {
    display: none;
}

.artie:hover img, .artie:focus img {
    display: block;
    position: absolute;
    top: calc(-100% - 20px);
    left: 50%;
    transform: translateX(-50%);
}

/* .artie:hover {
    background:
        url("assets/artie-3q.png") no-repeat left;
        padding: 50px;
    position: absolute;
    top: 350px;
    z-index: 1;
} */

/* GEOMETRIC */

.geo-container {
    position: relative;
    display: inline;
}

.geo {
    position: relative;
    margin: auto;
    top: 240px;
    left: -380px;
    height: 100px;
    width: 300px;
    display: block;
    transition: 300ms ease-in all;
}

.horizontal-line {
    position: absolute;
    width: 900px;
    height: 2px;
    top: 10%;
    left: 5%;
    background-color: transparent;
    border-bottom: 1px solid #fcdb1e;
    border-right: 1px solid transparent;
}

.vertical-line {
    position: absolute;
    width: 250px;
    height: 2px;
    top: 55%;
    left: -4.5%;
    background-color: transparent;
    border-bottom: 1px solid #fcdb1e;
    border-right: 1px solid transparent;
    transform: rotate(90deg);
}

.diagonal-line {
    position: absolute;
    width: 200px;
    height: 2px;
    top: 80%;
    left: 27.5%;
    background-color: transparent;
    border-bottom: 1px solid #fcdb1e;
    border-right: 1px solid transparent;
    transform: rotate(45deg);
}

.circle {  
    position: absolute;
    width: 100px;
    height: 100px;
    top: 12%;
    left: 37%;
    background: transparent;
    border: 1px solid #fcdb1e;
    border-radius: 50%

}

/* TYPOGRAPHY */

@font-face {
    font-family: "GT Sectra";
    src: url("assets/GT-Sectra-Fine-Bold.woff");
  }

.page-title {
    font-size: .75em;
    font-family: 'Karla',Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3em;
}

.page-title::before {
    content: "\2740";
    padding-right: 10px;
}

.raquel-b {
    font-family: 'GT Sectra', Georgia, serif;;
    font-size: 5em;
    line-height: .8;
    margin-bottom: .5em;
}

.lastname {
    margin-left: 14px;
}

.subtitle {
    color:  #d0554a;
    font-family: 'Karla',Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    margin-bottom: 2em;
    width: 10em;
    padding-right: .25em;
    z-index: 1;
}

.main-1 {
    font-family: 'Karla', Helvetica, sans-serif;
    font-size: 1em;
    color: slategray;
    line-height: 1.6;
    margin-bottom: 1.5em;
    width: 40em;
    padding-right: 20px;
}

.main-2 {
    line-height: 1.5;
    margin-bottom: 1.5em;
    position: relative;
    width: 80em;
}

  /*LINKS*/

.links {
    padding: 0 0 10px 220px;
    margin-bottom: .25em;
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
}

.link {
    font-family: 'Karla', Helvetica, sans-serif;
    font-size: .825em;
    letter-spacing: .05em;
    margin-right: 20px;
    line-height: 1.4;
    transition: ease-in 200ms;
}

.link-header {
    font-weight: 700;
    margin-right: 20px;
    line-height: 1.4;
    transition: ease-in 200ms;
}

li {
   margin: 20px;
}

a, .faux-link {
    color: slategray;
    text-decoration: none;
    border: 1px bottom slategray;
    transition: 200ms ease-in all;

}

a:hover, .faux-link:hover {
    color:  #d0554a;
    border-color:  #d0554a;
}

a:focus, .faux-link:focus {
    background-color: #d0554a;
    color: white;
    outline: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {


    .subtitle {
        margin-bottom: 10px;
    }

    .container {
        width: 95%;
    }

    .bio-block {
        display: block;
    }

    .links {
        padding-left: 0;
        display: block;
    }

    .main-1, .main-2 {
        width: 400px;
    }

    .geo {
        position: relative;
        left: -180px;
        z-index: 0;
        clip-path: circle(100%);
        }


        .artie:hover img {
            top: calc(100% + 20px);
        }    }






/* RESET CSS */

  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}